/* custom universal scss */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$font-family-sans-serif: "Inter", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-size-base: 0.85rem !default;

@import "bootstrap/scss/bootstrap";
